  body {
    background-color: orange;
  }
  h1{
    text-align: center;
  }
  /*
  ul {
    list-style-type: none;
    margin: 0;
    margin-left: 5%;
    padding: 0;
    width: 90%;
    background-color: #f1f1f1;
    border: 1px solid #555;
  }
  li a {
    display: inline-block;
    width: 23%;
    padding:0px 16px;
    text-align: center;
  }
  li {
    display: inline;
  }
  li a:hover {
    background-color: #555;
    color: white;
  } 
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  div.navBar{
    align-items: center;
  }
  */
  nav.navBar{
    display: table;
    text-align: center;
    width: 90%
   
   }
   nav.navBar ul{
    display: table-row;
   }
   
   nav.navBar ul li {
    display: table-cell;
    column-width: 25%;
   }
   nav.navBarul li a{
     display: block;
   }
   table.formTable{
     align-self: center;
     border-color: #555;
     width: 50%;
     border-width: 1px;

   }
   table.formTable tr :first-child{
     text-align: right;
   }
   table.formTable tr th{
     border-bottom: #555;
     border-bottom-width: 2px;
     text-align: center;
   }
   footer{
     text-align: center;
     border-top: 5px;
     border-top-color: #555;
   }
